header {
    background-color: rgb(60, 60, 60)!important;
}
header .nav-link {
    color: white !important;
}
header .nav-link:hover {
    color: #ff0000 !important;
    transform: scale(1.2);
}
.contact-info {
    font-size: 14px;
}

.contact-info i {
    margin-right: 5px;
}

.logo {
    border-radius: 25%;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 85px;
    height: 85px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.2);
}

footer{
    background-color: rgb(60, 60, 60)!important;
}

.card {
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    margin-bottom: 10px;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .card-body.p-2 {
    padding: 10px;
  }
  
  .btn-sm {
    padding: 5px 10px;
    font-size: 0.875rem;
  }
  .history-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
  }
  
  .history-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .history-container p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  .cart-container {
    padding: 20px;
    text-align: center;
  }
  
  .table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .total {
    text-align: right;
    margin-top: 20px;
  }
  
  .btn {
    margin-top: 10px;
  }