/* HomeView */

.logo {
    border-radius: 25%;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.2);
}